.App {
  
}

.Title{
float: top;
transition: .3s background-color;
margin-right: 100px;
}
.Bar{
  display: block;
transition: .3s background-color;
margin-right: 100px;
}
nav{
  background-color: black;
  height: 50px;
  margin-top: 0;
  color: white !important;
  text-decoration: none;
}

ul {
  list-style: none;
  display: inline-flex;
}

nav a {
text-decoration: none;
color: white;
display: block;
transition: .3s background-color;
margin-right: 100px;
}

.New{
  border: solid black;
  width: 950px;
  display: inline-block;
  height: 500px;
  margin: 25px;
}

.Inter{
  border: solid black;
  width: 325px;
  display: inline-block;
  height: 500px;
  margin: 25px;
  
}
.Para1{
  border: solid black;
  width: 950px;
  display: inline-block;
  height: 250px;
  margin: 25px;
}

.Life{
  border: solid black;
  width: 325px;
  display: inline-block;
  height: 250px;
  margin: 25px;
}

.Most{
  align-self: center;
  border: solid black;
  width: 94%;
  height: 250px;
  display: inline-block;
  margin: 25px;
}

.World{
  align-self: center;
  border: solid black;
  width: 94%;
  height: 275px;
  display: inline-block;
  margin: 25px;
}

.Editor{
  border: solid black;
  width: 325px;
  display: inline-block;
  height: 850px;
  margin: 25px;
}
.Para2{
  border: solid black;
  width: 950px;
  display: inline-block;
  height: 250px;
  margin: 25px;
}